html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #E8573F;
	color: white;
	font-size: 16px;
	margin: 0;
	text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}

header {
	background-color: black;
	text-align: center;
	padding: 1em;
}

h1 {
	padding-top: 1em;
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	text-align: center;
	letter-spacing: 6px;
	text-transform: uppercase;

}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 1px;
	width: 42%;
	margin: 0 auto;
}

#logos {
	width:100%;
	margin-top: 3em;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	display: inline-block;
}

a img:hover {
	opacity: 0.9;
}

img {
	opacity: 0.4;
	width: 50px;
	height: 50px;
	margin: 1em;
}


/* User selected About */

#tored {
	animation: to-red 2s 1s 1 forwards;
}

@-webkit-keyframes to-red {
    from {
        height: 0px;
        top: 0px;
        background-color: #E8573F;
    }
    to {  
        height: 100vh;
        background-color: #E8573F;
    }
}

@keyframes to-red {
    from {
        height: 0px;
        top: 0px;
        background-color: #E8573F;
    }
    to {  
        height: 100vh;
        background-color: #E8573F;
    }
}

/* User selected Experience */

#togreen {
	animation: to-green 2s 1s 1 forwards;
}

@-webkit-keyframes to-green {
    from {
        height: 0px;
        top: 0px;
        background-color: #37BC9B;
    }
    to {  
        height: 100vh;
        background-color: #37BC9B;
    }
}

@keyframes to-green {
    from {
        height: 0px;
        top: 0px;
        background-color: #37BC9B;
    }
    to {  
        height: 100vh;
        background-color: #37BC9B;
    }
}

/* User selected Projects */

#toyellow {
	animation: to-yellow 2s 1s 1 forwards;
}

@-webkit-keyframes to-yellow {
    from {
        height: 0px;
        top: 0px;
        background-color: #F6BB42;
    }
    to {  
        height: 100vh;
        background-color: #F6BB42;
    }
}

@keyframes to-yellow {
    from {
        height: 0px;
        top: 0px;
        background-color: #F6BB42;
    }
    to {  
        height: 100vh;
        background-color: #F6BB42;
    }
}

/* User selected Contact */

#topurple {
	animation: to-purple 2s 1s 1 forwards;
}

@-webkit-keyframes to-purple {
    from {
        height: 0px;
        top: 0px;
        background-color: #967ADC;
    }
    to {  
        height: 100vh;
        background-color: #967ADC;
    }
}

@keyframes to-purple {
    from {
        height: 0px;
        top: 0px;
        background-color: #967ADC;
    }
    to {  
        height: 100vh;
        background-color: #967ADC;
    }
}